body {
	background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.form-content {
	background-color: salmon;
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 1rem;
	span {
		font-size: 1.4rem;
	}
	input, select, button {
		padding: 10px;
	}
	button {
		color: #fff;
		background-color: brown;
		border: none;
		cursor: pointer;
	}
}

.résumer {
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 2rem;
	background-color: aquamarine;
	& > div {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.delete {
		background-color: aquamarine;
		border: none;
		cursor: pointer;
	}
}

.total {
	text-align: center;
	font-size: 3rem;
}
